<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ffmpegPath" value="C:\Storage\Workplace\Ardin.ProxyPlayer\Ardin.ProxyPlayer\wwwroot\Storage\ffmpeg.exe"/>
		<add key="StoragePath" value="C:\Storage\Workplace\Ardin.ProxyPlayer\Ardin.ProxyPlayer\wwwroot\Storage\"/>
	</appSettings>
</configuration>