@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Ardin Proxy Player</title>
</head>
<body>
    <form action="/home/add" method="post">
        add link to download : <input type="text" name="link" value="" />
        <br />
        secret key : <input type="password" name="secret" value="" />
        <br />
        <input type="submit" name="name" value="Add to download list" />
    </form>
</body>
</html>