@model string
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <link href="https://vjs.zencdn.net/7.20.1/video-js.css" rel="stylesheet" />
    <title>Ardin Proxy Player</title>
    <!-- If you'd like to support IE8 (for Video.js versions prior to v7) -->
    <!-- <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script> -->
</head>
<body>
    @if (!string.IsNullOrEmpty(Model))
    {
        <video id="my-video"
               class="video-js"
               controls
               preload="auto"
               width="1024"
               height="768"
               data-setup="{}">
            <source src="/Storage/@Model" type="video/mp4" />
        </video>
    }
    <ul>
        <li><a href="/home/add">Add new link</a></li>
        @foreach (var video in ViewBag.VideoList as List<Movie>)
        {
            var link = $"https://proxyplayer.drcaptcha.ir?filename={video.Link}";
            <li><a href="@link">@video.Name | @video.Size MB | @video.DateAdded</a></li>
        }
    </ul>
    <script src="https://vjs.zencdn.net/7.20.1/video.min.js"></script>
</body>
</html>